<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Elite</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>medifiker</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>“Elite” Would Like to Access Your Photos - Allow photo access to add photos to your profile.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>“Elite” Would Like to Access Your Photos - Allow photo access to add photos to your profile.</string>
		<key>NSCameraUsageDescription</key>
		<string>“Elite” Would Like to Access the Camera - Allow access to the camera to take photos for your profile.</string>
		<key>NSMicrophoneUsageDescription</key>
    	<string>“Elite” Would Like to Access the Microphone - Allow access to the microphone to upload audio to your profile.</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>“Elite” Would Like to Access Your location - Allow access to the location in the background to discover people in your area in real-time.</string>    
		<key>NSLocationAlwaysUsageDescription</key>
		<string>“Elite” Would Like to Access Your location - Allow access to the location to discover people in your area in real-time.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>“Elite” Would Like to Access Your location - Allow access to the location in the background to discover people in your area in real-time.</string>
		<key>NSUserNotificationsUsageDescription</key>
		<string>“Elite” Would Like to Send You Notifications - Allow push notifications to stay updated. Notifications can include alerts, sounds, and icon badges. These
can be configured in Settings.</string>
		<key>UIStatusBarHidden</key>
		<true/>
	</dict>
</plist>
